* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100vh;
  width: 100%;
}

#app {
  width: 100%;
  height: 100%;
  background-color: #3E0154;
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
}

#main{
  display: flex;
  height: 76%;
  width: 100%;
  gap: 30px;
}

#nav-block
{
  height: 100%;
  flex: 1;
  border-radius: 40px;
  background-color: #2B192E;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#data-block
{
  height: 100%;
  flex: 3;
  background-color: #2B192E;
  border-radius: 40px;
}

#play-bar
{
  width: 100%;
  flex: 1;
  min-height: 170px;
  border-radius: 40px;
  background-color: #2B192E;
}

#logo
{
  width: 58%;
  margin-top: 30px;
}

#options-list
{
  margin: 30px 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  gap: 30px;
}

.nav-option
{
  width: 100%;
  height: 14%; 
  border: 3px solid #F5E8DA;
  border-radius: 40px;
}