
@use "defaults/colors";
@use 'defaults/values';

@use 'scrollbar';
@use 'playbar';
@use 'input';

@use "newsBlock";
@use "navPanel";

$block-gap: 20px;



#app {
    width: 100%;
    height: 100%;
    min-height: 600px;
    min-width: 1000px;
}

//container for nav and data blocks
#main {
    height: calc(762/972) * 100%;
    width: 100%;
}

#data-panel {
    height: calc(627 / 762) * 100%;

    #data-title {
        margin-left: 20px;
    }
}



