@use "navPanel";
@use "dataPanel";
@use "defaults/colors";
@use 'defaults/values';
@use 'scrollbar';
@use 'playbar';
@use 'input';

$block-gap: 20px;



#app {
    width: 100%;
    height: 100%;
    background-color: colors.$background-color;
    display: flex;
    flex-direction: column;
    padding: $block-gap;
    gap: $block-gap;
}

//container for nav and data blocks
#main {
    display: flex;
    height: calc(762/972) * 100%;
    width: 100%;
    gap: $block-gap;
    flex: 1;
}



