@use 'login';
@use 'app';
@use 'blocks';
@use 'images';
@use 'text';
@use 'search';
@use 'profile';
@use "defaults/colors";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: colors.$font-color;
    font-family: 'Lucida Console', sans-serif;
    transition: 0.25s;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}