@use "defaults/colors";
@use "defaults/values";
@use 'defaults/fonts';

input[type=text], input[type=password], textarea
{
    border: 0;
    outline: 0;
    background-color: colors.$panel-color;
    resize: none;
    
}

input:placeholder-shown, textarea:placeholder-shown{
    letter-spacing: values.$title-letter-spacing;
    user-select: none;
}



.input-box
{
    border: values.$border-width solid colors.$border-color;
    border-radius: values.$border-radius;
    display: flex;
    align-items: center;
}