@use "defaults/colors";
@use 'defaults/values';
@use 'defaults/fonts';
@use 'input';


#login-container
{
    padding: 105px 290px;
}

#login-panel #logo
{
    width: 20%;
}

#signup-redirect
{
    margin-left: 40px;
}

.input-box, #submit
{
    height: 16%;
}

#input-filler
{
    height: 4%;
}

#submit
{
    margin-top: 40px;
    justify-self: flex-end;
}