@use "colors.scss";
@use 'values';

#nav-panel {
    height: 100%;
    width: calc(520/1810) * 100%;

    border-radius: values.$border-radius;

    background-color: colors.$panel-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: calc(65/762) * 100%;
}

#logo {
    height: calc(95/752) * 100%;
    max-width: 100%;
    margin-top: 30px;
    user-select: none;
    -webkit-user-drag: none;
}

.nav-option {
    width: 100%;
    height: 14%;
    border: values.$border-width solid colors.$border-color;
    border-radius: values.$border-radius;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.nav-option:hover
{
    border: values.$border-width solid colors.$selected-color;
}

.nav-text {
    letter-spacing: values.$title-letter-spacing;
    text-transform: uppercase;
    user-select: none;
    font-size: 20px;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.nav-icon {
    height: calc(30/75) * 100%;
    margin-left: calc(40/400) * 100%; 
    margin-right: calc(15/400) * 100%;  
    user-select: none;
    -webkit-user-drag: none;
}

#options-list {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 30px;
}