@use "defaults/colors";
@use 'defaults/values';
@use 'defaults/fonts';

#nav-panel {

    min-height: 400px;
    height: 100%;
    width: 25%;


    #logo {
        height: 13%;
        width: 80%;
    }
}

.nav-option {
    width: 95%;
    height: 14%;
    min-height: 80px;
}

.nav-option:not(:last-child) {
    margin-bottom: 20px;
}

.nav-icon {
    height: 40%;
}

#options-list {
    margin-top: 5%;
    width: 90%;
}