@use "colors";
@use 'values';


#news-block
{
    height: calc(534/627) * 100%;
    flex:1;

    ul
    {
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
        
        max-height: 100%;
        list-style-type: none;

        li
        {
            height: calc(105/534) * 100%;
            margin-right: 10px;
        }

        li:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.news
{
    border-radius: values.$border-radius;
    border: values.$border-width solid colors.$border-color;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 15px;
    gap: 15px;

    

    .cover-image
    {
        max-height: calc(75/105) * 100%;
        border-radius: values.$border-radius;
        user-select: none;
        -webkit-user-drag: none;
    }

    .track-info
    {
        display: flex;
        flex-direction: column;
        min-width: calc(570/1150) * 100%;
        font-size: 20px;
        user-select: none;  

        .track-name
        {
            margin-bottom: 5px;
        }
    }

    .vl
    {
        height: calc(75/105) * 100%;
        min-width: values.$border-width;
        background-color: colors.$border-color ;
        border-radius: 99px;
        margin: 0 50px;
    }

    .release-info
    {
        width: calc(315/1150) * 100%;
        margin-right: 50px;
        user-select: none;
        -webkit-user-drag: none;

        .release-title
        {
            font-size: 25px;
            margin-bottom: 5px;
            letter-spacing: values.$title-letter-spacing;
        }

        .release-date
        {
            font-size: 20px;
        }
    }
}