@use "defaults/colors";
@use "defaults/values";
@use 'defaults/fonts';

.large-spaced
{
    letter-spacing: values.$title-letter-spacing;
}

.medium-spaced
{
    letter-spacing: values.$text-letter-spacing;
}

.uppercase
{
    text-transform: uppercase;
}

.unselectable
{
    user-select: none;
}

.normal
{
    font-size: fonts.$normal;
}

.above-normal
{
    font-size: fonts.$normal-large;
}

.largest
{
    font-size: fonts.$title-large;
}

.title
{
    font-size: fonts.$title;
}

.sub-title
{
    font-size: fonts.$subtitle;
}

.highlight-on-hover:hover
{
    color: colors.$selected-color;
}

.error
{
    color: colors.$selected-color;
}

.no-decoration
{
    text-decoration: none;
}